<div>
  <mat-toolbar color="primary">
    <span><mat-icon>mood</mat-icon></span>

    <span>Yay, Material in Angular 2!</span>

    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Option 1</button>
    <button mat-menu-item>Option 2</button>
  </mat-menu>

  <mat-card>
    <form [formGroup]="formDoc" (ngSubmit)="onSubmit()" novalidate>
      <mat-form-field>
        <app-input-file formControlName="requiredfile" placeholder="Required input" valuePlaceholder="No file selected" required></app-input-file>
        <mat-icon matSuffix>folder</mat-icon>
        <mat-error *ngIf="formDoc.get('requiredfile').hasError('required')">
          Please select a file
        </mat-error>
      </mat-form-field>
      <pre>{{formDoc.get('requiredfile').errors | json}}</pre>
      
      <button type="submit" [disabled]="formDoc.invalid" mat-raised-button>Submit</button>
      
      <hr>
      <p>Angular Version: {{ngVersion.full}}</p>
      <p>Material Version: {{version?.commit.author.date | json}}</p>
      
    </form>
  </mat-card>

  <span class="done">
    <button mat-fab>
      <mat-icon>check circle</mat-icon>
    </button>
  </span>
</div>