<div>
  <mat-toolbar color="primary">
    <span>Image Authenticator</span>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Option 1</button>
    <button mat-menu-item>Option 2</button>
  </mat-menu>

  <mat-card>
    <h2>Submit a file</h2>
    <form [formGroup]="formDoc" (ngSubmit)="onSubmit()" novalidate>
      <mat-form-field class="upload-input">
        <app-input-file formControlName="requiredfile" placeholder="Image to be evaluated" valuePlaceholder="No file selected"></app-input-file>
        <mat-icon matSuffix>folder</mat-icon>
        <mat-error *ngIf="formDoc.get('requiredfile').hasError('required')">
          Please select a file
        </mat-error>
        <mat-error *ngIf="formDoc.get('requiredfile').hasError('maxContentSize')">
          The total size must not exceed {{formDoc.get('requiredfile')?.getError('maxContentSize').maxSize | byteFormat}}
          ({{formDoc.get('requiredfile')?.getError('maxContentSize').actualSize | byteFormat}}).
        </mat-error>
      </mat-form-field>
      <img class="img-preview" [src]="imagePreviewLink" />
      <div align="center">
        <re-captcha formControlName="recaptcha" siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></re-captcha>
      </div>
      <button class="btn-submit" type="submit" color="primary" [disabled]="formDoc.invalid" mat-raised-button>Submit</button>  
    </form>

    <hr>
    <p class="credit-line">from chitoge with ❤️</p>
  </mat-card>
</div>